body {
    font: 14px/1.4 Monaco, MonoSpace;
    background: #666;
}
style {
    display: block;
    white-space: pre;
    background: #333;
    color: #fff;
    font: 12px Monaco;
    padding: 0 15px;
	margin-top:15px;
}
.container{
	width:800px;
	margin:80px auto;
	padding:50px;
	background:#eee;
}
.shape{
	padding:20px;
}
.shape > h2 {
    background: rgba(0,0,0,0.15);
    padding: 10px;
	margin:10px 0 10px 0;
    position: relative;
}
.shape > h2 > a {
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-size: 20px;
	color:red;
}